@import url('https://www.1001fonts.com/alphabetized-cassette-tapes-font.html');
:root {

  /* FONT-FAMILY*/
    --ff-inter: "inter";
    --ff-roboto: "Roboto";
  
    /* FONT-WEIGHT */
    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;
  
    /* FONT-SIZES */
    /* --fs-heading: 5.68rem; */
    --fs-49: 49px;
    --fs-32: 32px;
    --fs-28: 28px;
    --fs-24: 24px;
    --fs-20: 20px;
    --fs-18: 18px;
    --fs-16: 16px;
    --fs-14: 14px;
    --fs-13: 13px;
    /* 24, 18,16,13 */
  
    /* FONT-COLOR */
    --fc-top-nav: #242120;
    --fc-black: #000000;
    --fc-landing-gray: #494949;
    --fc-body-gray: #494949;
    --fc-name-gray: #474747;
    --fc-red: red;
    --fc-blue: #0D019A;
    --fc-green: #049A01;
    --fc-white: #ffffff;
    

    /* BG COLOR */
    --orange: #FF5C00;
    --bg-white: #ffffff;
    --bg-gray: #222222;
    --light-gray: #2e2e2e;
    --bg-light-pink: #fff8f5;
    --bg-footer: #25201d;

    /* COMPONENT COLOR */
    --light-blue:#EEF8FF;
    --light-green: #F0FFEE ;
    ;
    
    /* COMPONENTS */
    --img-resize: 9vw;
    --border-small: ;
    --border-big: ;
    --link-icon: var('./assets/linkicon.svg')
  }
  
  /* RESET CSS */
  
  /* Box sizing */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* Reset margins */
  
  body,
  ul,
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  figure,
  picture {
    margin: 0;
  }
  
  h1,
  h1,
  h3,
  h4,
  h5,
  h6,
  p {
    font-weight: 400; /* remove default */
  }
  
  a {
    text-decoration: none;
  }
  
  /* set up the body */
  body {
    line-height: 1.5;
    position: relative;

    /* font-family: 'alphabetized cassette tapes' */
  }
  
  /* make images easier to use */
  img,
  picture {
    max-width: 100%;
    display: block;
  }
  
  /* make forms easier */
  /* by default these form elements do not inherit font family by default */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  /* remove animations for people who've turned them off */
  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  
  /* utility classes */
  
  .flex {
    display: flex;
    gap: var(--gap, 1rem);
  }
  
  .grid {
    display: grid;
    gap: var(--gap, 1rem);
  }
  
  /* undefined custom properties
  makes them overidable
  when declaring
  them using inline css */
  .flow > *:where(:not(:last-child)) {
    margin-top: var(--flow-space, 1rem);
    outline: 1px solid red;
  }
  
  .container {
    /* same as padding: 0 2em */
    padding-inline: 2em; 
    margin-inline: auto;
    /* padding: 1rem; */
    max-width: 80rem;
  }
  
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* add line */
    border: 0;
  }
  
  /* font size */
  .fs-49 {
    font-size: 49px;
  }
  .fs-32 {
    font-size: 32px;
  }
  .fs-28 {
    font-size: 28px;
  }
  .fs-24 {
    font-size: 24px;
  }
  .fs-20 {
    font-size: 20px;
  }
  .fs-18 {
    font-size: 18px;
  }
  .fs-16 {
    font-size: 16px;
  }
  .fs-14 {
    font-size: 14px;
  }
  .fs-13 {
    font-size: 13px;
  }
  .fw-400 {
    font-weight: 400;
  }
  .fw-600 {
    font-weight: 600;
  }
  .fw-700 {
    font-weight: 700;
  }
  /* colors */
  .text-red {
    color: var(--fc-red);
  }
  .text-gray {
    color: var(--fc-gray);
  }
  .text-name-gray {
    color: var(--fc-name-gray);
  }
  .text-white {
    color: var(--fc-white);
  }
  .bg-orange {
    background-color: var(--orange);
  }
  .bg-white {
    background-color: var(--bg-white);
  }
  .bg-gray {
    background-color: var(--bg-gray);
  }
  .bg-light-gray {
    background-color: var(--light-gray);
  }
  .bg-light-pink {
    background-color: var(--bg-light-pink);
  }
  .bg-footer {
    background-color: var(--bg-footer);
  }
  
  /* typography */
  
  .ff-inter {
    font-family: var(--ff-inter);
  }
  .ff-roboto {
    font-family: var(--ff-roboto);
  }
  .line-height-h1 {
    line-height: 60px;
  }
  .letter-height-1 {
    line-height: 32px;
  }
  .letter-height-2 {
    line-height: 27px;
  }
  .letter-height-3 {
    line-height: 24px;
  }
  .letter-height-4 {
    line-height: 20px;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  .resize {
    width: var(--img-resize);
  }
  .App {
    border: 1px blue solid;
  }
  .underline {
    text-decoration: underline;
  }
  .side-by-side{
    flex-direction: column;
  }
  .fullscreen-wrapper {
    border: 1px dashed green;
    height: 100%
  }
  .fullscreen-wrapper-1 {
    border: 1px dashed red;
    height: 100vh;
  }